<div class="page__footer">
  <footer>
    <div class="footer-links">
      <a href="https://www.reddit.com/r/WalletScrutiny"><i class="fab fa-reddit"></i>&nbsp;Reddit</a>
      <a href="mailto:info@WalletScrutiny.com"><i class="fas fa-envelope"></i>&nbsp;Contact</a>
      <a href="/donate/"><i class="fas fa-donate"></i>&nbsp;Donate</a>
      <a href="https://twitter.com/WalletScrutiny"><i class="fab fa-twitter-square"
          aria-hidden="true"></i>&nbsp;Twitter</a>
      <a href="https://gitlab.com/walletscrutiny/walletScrutinyCom"><i class="fab fa-gitlab"
          aria-hidden="true"></i>&nbsp;GitLab</a>
      <a href="/blog/"><i class="fas fa-scroll"></i>&nbsp;Blog</a>
    </div>
    <div class="page__footer-copyright">Page last compiled $compilation_date.
      Designed with input from <a href="https://flat18.co.uk" target="_blank" alt="Link to Flat18 website">Flat18</a>.
    </div>
  </footer>
</div>
