<div class="masthead">
  <a class="masthead-logo-link" href="/" alt="$site"><img class="masthead-logo" src="/src/img/logo_2020-dark.svg"
      alt="Wallet Scrutiny" title="Wallet Scrutiny" /></a>
      <div class="wallet-search">
        <input type="text" placeholder="Search wallets...">
        
      </div>
  <nav id="site-nav" class="greedy-nav">
    <button>
      <div class="navicon"></div>
    </button>
    <ul class="visible-links">
      <li class="masthead__menu-item masthead__menu-item--lg"></li>
      <li class="masthead__menu-item"><a href="/methodology/">
          <div id="newTitle">Methodology</div>
        </a></li>
      <li class="masthead__menu-item"><a href="/donate/">
          <div id="donateButton">Donate</div>
        </a></li>
      <li><a class="theme-parent" onclick="toggleTheme()"><i class="fas fa-moon">&nbsp;<label>dark</label></i><i
            class="fas fa-sun">&nbsp;<label>light</label></i></a></li>
    </ul>
    <ul class="hidden-links hidden"></ul>
  </nav>
</div>
