<h1 id="verdictExplained">Verdict Explained</h1>
<p>$v.message</p>

<p>As part of <a href="/methodology/#$verdict">our Methodology</a>, we ask:</p>

<div class="verdictMethodology">
<div class="badge"><a id="$v.title" href="/methodology/#$verdict" class="verdictBadge $v.title"><span>$v.title</span></a> </div>
<h2>$v.question</h2>

If the answer is "no", we mark it as "<strong>$v.title</strong>".

<div class="details">
<p>$v.details</p>