$large: 1400px;
$content: 1200px;
$medium: 960px;
$small: 756px;
$x-small: 500px;

$lato: "Lato", -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
$title: $lato;
$sans-serif: $lato;
